@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-urbanist: var(--font-urbanist);
}

.textlogo {
  font-family: var(--font-urbanist), sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #FA266D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), 'Urbanist', sans-serif;
}

/* Apply Urbanist font to all elements */
* {
  font-family: var(--font-urbanist), 'Urbanist', sans-serif;
}
